{% extends "base.html" %}

{% block content  %}
    <a href="{% url 'leads:lead-list' %}">Go back to leads</a>
    <hr />
    <h1>Are you sure you want to delete this lead?</h1>
    <form method="post">
        {% csrf_token %}   <!-- csrf_token is a security aspect of django -->
        <div class="form-group">
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
          </div>
          <div class="form-group">
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
          </div>
          <div class="form-group">
            {{ form.age.label_tag }}
            {{ form.age }}
          </div>
          <div class="form-group">
            {{ form.agent.label_tag }}
            {{ form.agent }}
          </div>
          <br>
          <br>
        <button type="submit"> Yes, I am sure! </button>
    </form>

    <style>
        .form-group {
            margin-bottom: 1rem;
        }
    </style>

{% endblock content  %}
